<h1 mat-dialog-title>New Product</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Price</mat-label>
      <input matInput type="number" class="example-right-align" placeholder="0" formControlName="price">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" style="margin-left: 8px;" [disabled]="productForm.invalid" name ="action" (click)="addProduct()">{{actionBtn}}</button>
</div>
