mat-card-title {
  font-family: Teko, serif;
  font-size: 18px;
}
.foo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.foo p {
  color: #6BC0DC;
  font-family: "Teko Medium", serif;
  padding: 5px;
}
