<mat-nav-list>
  <div class="logo">
    <span class="logo-text">HC INTERNSHOP</span>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="title">Haeger Consulting</h2>
  <a mat-list-item routerLink="/products" routerLinkActive="list-item-active">
    <mat-icon>shop</mat-icon>Shop
  </a>
  <a mat-list-item routerLink="/shop" routerLinkActive="list-item-active">
    <mat-icon>add_shopping_cart</mat-icon>Warenkorb
  </a>
  <a mat-list-item routerLink="/inventory" routerLinkActive="list-item-active">
    <mat-icon>edit</mat-icon>Inventory
  </a>
  <a mat-list-item routerLink="/notifications" routerLinkActive="list-item-active">
    <mat-icon>message</mat-icon>Notifications
  </a>
</mat-nav-list>
